:root {
  --primary: #084a9f;
  --primary-dark: #0728ce;
  --secondary: #ffffff;
}

.App {
  text-align: center;
  background-color: var(--secondary);
  width: 100%;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
  color: var(--secondary);
  align-items: center;
  position: fixed;
  width: calc(100% - 60px);
  background-color: var(--primary);
  padding: 15px 30px;
  margin-top: -30px;
  z-index: 3;
}

.App-header>h1 {
  margin-block: auto;
}

/* Product container */
.Products {
  display: flex;
  flex-flow: row wrap;
}

.Products-loading {
  margin: auto;
}

.Products-overlay {
  position: fixed;
  /* Sit on top of the page content */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
}

/* Product card */
.Product {
  max-width: 250px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 5px auto;
  padding: 15px;
  border-radius: 8px;
}

.Product-image {
  max-width: 100%;
  align-self: center;
}

.Product-info {
  text-align: left;
  height: 100px;
}

.Product-basket-button {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--primary);
  color: var(--secondary);
  padding: 15px;
  font-size: 1rem;
  font-weight: bold;
  width: 250px;
  max-height: 50px;
  border: none;
  border-radius: 8px;
  align-items: center;
}

.Product-basket-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: inherit;
  font-weight: bold;
  border: 2px solid var(--primary);
  border-radius: 8px;
  min-width: 100px;
  padding: 10px;
}

.Product-basket-add-button,
.Product-basket-remove-button {
  background-color: var(--primary);
  color: var(--secondary);
  font-size: inherit;
  font-weight: bold;
  width: 25px;
  height: 25px;
  border: 1px solid var(--primary-dark);
  border-radius: 8px;
  padding: 0;
}

.Product-basket-add-button:hover,
.Product-basket-remove-button:hover {
  background-color: var(--primary-dark)
}

/* Basket */
.Basket-button {
  display: flex;
  justify-content: flex-end;
  background-color: var(--primary);
  color: var(--secondary);
  padding: 15px;
  width: auto;
  max-height: 50px;
  border: none;
  border-radius: 8px;
  align-items: center;
}

.Basket-button:hover {
  text-decoration: underline;
}

.Basket-button>div {
  background: var(--secondary);
  color: var(--primary);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -25px;
  line-height: 20px;
}

.Basket-icon {
  font-size: 2rem;
}

.Basket-flyin {
  height: 85vh;
  width: 100vw;
  border-bottom: 30px solid var(--primary);
  font-size: 15px;
  background: var(--primary);
  position: fixed;
  overflow-y: scroll;
  z-index: 100;
  margin-top: 55px;
  color: var(--primary);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* testing */
.Basket-container {
  padding: 10px;
  background: var(--secondary);
  border-radius: 8px;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "image title title title"
    "image price actions delete"
    ". . . .";
}

.Basket-product-image {
  grid-area: image;
}

.Basket-product-image>img {
  height: auto;
  width: 50px;
  margin-top: 10px;
}

.Basket-product-summary-title {
  grid-area: title;
  align-self: center;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Basket-product-summary-price {
  grid-area: price;
  align-self: center;
}

.Basket-product-summary-actions {
  grid-area: actions;
  align-self: center;
}

.Basket-product-summary-actions>div.Product-basket-div {
  border: none;
}

.Basket-product-summary-delete {
  grid-area: delete;
  align-self: center;
}

.Basket-product-summary {
  display: flex;
  flex-direction: row;
  background: var(--secondary);
  border-radius: 8px;
  margin: 10px;
  align-items: center;
  min-height: 20px;
  font-size: smaller;
  padding: 10px;
}

.Basket-product-remove-button {
  color: red;
  font-size: 20px;
  background-color: inherit;
  border: none;
}


/* Media queries */
@media (min-width: 768px) {
  .Basket-flyin {
    width: 50vw;
    margin-left: 50%;
  }
}