.App {
  text-align: center;
  background-color: #fff;
  padding: 30px;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
  font-size: 1.5rem;
  color: black;
}

/* Product container */
.Products {
  display: flex;
  flex-flow: row wrap;
}

.Products-loading {
  margin: auto;
}

/* Product card */
.Product {
  max-width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  padding: 15px;
  border-radius: 8px;
}

.Product-image {
  max-width: 100%;
  align-self: center;
}

.Product-info,
.Product-price {
  text-align: left;
}