:root {
  --primary: #084a9f;
  --primary-dark: #0728ce;
  --secondary: #ffffff;
}

.App {
  text-align: center;
  background-color: var(--secondary);
  width: 100%;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
  color: var(--secondary);
  align-items: center;
  position: fixed;
  width: calc(100% - 60px);
  background-color: var(--primary);
  padding: 30px;
  margin-top: -30px;
}

.App-header>h1 {
  margin-block: auto;
}

/* Product container */
.Products {
  display: flex;
  flex-flow: row wrap;
}

.Products-loading {
  margin: auto;
}

/* Product card */
.Product {
  max-width: 250px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 5px auto;
  padding: 15px;
  border-radius: 8px;
}

.Product-image {
  max-width: 100%;
  align-self: center;
}

.Product-info {
  text-align: left;
  height: 100px;
}

.Product-basket-button {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--primary);
  color: var(--secondary);
  padding: 15px;
  font-size: 1rem;
  font-weight: bold;
  width: 250px;
  max-height: 50px;
  border: none;
  border-radius: 8px;
  align-items: center;
}

.Product-basket-div {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--primary);
  color: var(--secondary);
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  width: 250px;
  height: 50px;
  border: none;
  border-radius: 8px;
}

.Product-basket-add-button,
.Product-basket-remove-button {
  background-color: var(--primary);
  color: var(--secondary);
  font-size: 1rem;
  font-weight: bold;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary-dark);
  border-radius: 8px;
  padding: 0;
}

.Product-basket-add-button:hover,
.Product-basket-remove-button:hover {
  background-color: var(--primary-dark)
}

/* Basket */
.Basket-button {
  display: flex;
  justify-content: flex-end;
  background-color: var(--primary);
  color: var(--secondary);
  padding: 15px;
  width: auto;
  max-height: 50px;
  border: none;
  border-radius: 8px;
  align-items: center;
}

.Basket-button:hover {
  text-decoration: underline;
}

.Basket-button>div {
  background: var(--secondary);
  color: var(--primary);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -25px;
  line-height: 20px;
}

.Basket-icon {
  font-size: 2rem;
}

.Basket-flyin {
  max-height: 100vh;
  width: 50vw;
  font-size: 15px;
  background: var(--primary);
  position: absolute;
  margin-left: 50%;
  z-index: 100;
  margin-top: 85px;
  color: var(--primary)
}

.Basket-product-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: var(--secondary);
  border-radius: 8px;
  margin: 10px;
  align-items: center;
  min-height: 20px;
}

.Basket-product-image {
  height: auto;
  width: 15%;
}

.Basket-product-summary-title {
  width: 40%;
  text-align: left;
  padding-left: 2px;
}

.Basket-product-summary-price {
  font-weight: bold;
}

.Basket-product-remove-button {
  color: red;
  font-size: 20px;
  background-color: inherit;
  border: none;
}




/* Media queries */
/* Break point for tablet basket button TODO*/